<nav class="navbar navbar-inverse navbar-fixed-top">
   <ul class="nav navbar-nav">
    <li class="dropdown">
      <a class="dropdown-toggle">Select Dataset</a>
      <ul class="dropdown-menu" ng-controller="DatasetListController">
        <li ng-hide="datasets"><a>No datasets</a></li>
        <li ng-repeat="dataset in datasets" ng-if="datasets">
          <a ui-sref="visualization({id: dataset._id.$oid})">{{dataset.name}}</a>
        </li>
        <li class="divider"></li>
        <li><a ng-click="createDatasetButtonHandler()">Create Dataset</a></li>
      </ul>
    </li>
    <li><a ui-sref="contexts">Context List</a></li>
   </ul>
</nav>
