

html, body {
  height: 100%;
}

body {
  padding-top: 51px;
}

nav {
  border-radius: 0 !important;
}

.reset-left-border-radius {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.reset-right-border-radius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.reset-line-height {
  line-height: normal;
}
