
.l-scroll-hidden {
  overflow-y: hidden !important;
}

.l-full-height {
  height: 100%;
  overflow-y: auto;
}


.relative {
  position: relative;
}

.l-bottom {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}

.l-full-width {
  width: 100%;
}

.l-reset-top-margin {
  margin-top: 0 !important;
}

.l-reset-bottom-margin {
  margin-bottom: 0 !important;
}

.l-reset-left-margin {
  margin-left: 0 !important; 
}

.l-reset-right-margin {
  margin-right: 0 !important;
}

.l-reset-top-padding {
  padding-top: 0 !important;
}

.l-reset-bottom-padding {
  padding-bottom: 0 !important;
}

.l-reset-right-padding {
  padding-right: 0 !important;
}

.l-reset-left-padding {
  padding-left: 0 !important;
}

.l-top-buffer {
  margin-top: 15px;
}

.l-bottom-buffer {
  margin-bottom: 15px;
}

.l-left-buffer {
  margin-left: 15px;
}

.l-right-buffer {
  margin-right: 15px;
}