

.options-button:after {
  content: '☰';
}

.wide-modal .modal-dialog{
  width: 1000px;
}

.litle-map {
  
}

.litle-map .map {
  height: 400px !important;
}

.large-map .map {
  height: 50% !important;
}