<div class="col-lg-4">
  <h3>Indicator {{name}}</h3>
  <div ng-switch on="type">
    <div ng-switch-when="single_value">
      {{data}}
    </div>
    <div ng-switch-when="value_collection">
      <nvd3-multi-bar-chart
        id="{{id}}"
        data="data"
        width="400"
        height="400"
        showXAxis="true"
        showYAxis="true">
      </nvd3-multi-bar-chart>
    </div>
    <div ng-switch-when="pair_collection">
      <nvd3-scatter-chart
        id="{{id}}"
        data="data"
        width="400"
        height="400">
      </nvd3-scatter-chart>
    </div>
  </div>
</div>