<div>
  <div ng-switch on="type">
    <div ng-switch-when="single_value">
      {{data}}
    </div>
    <div ng-switch-when="value_collection">
      <nvd3-multi-bar-chart
        id="{{id}}"
        data="data"
        showXAxis="true"
        showYAxis="true"
        height="350">
      </nvd3-multi-bar-chart>
    </div>
    <div ng-switch-when="pair_collection">
      <nvd3-scatter-chart
        id="{{id}}"
        data="data"
        height="350">
      </nvd3-scatter-chart>
    </div>
    <div ng-switch-when="multi_pair_collection">
      <nvd3-scatter-chart
        id="{{id}}"
        data="data"
        height="350"
        color="colorFunction()">
      </nvd3-scatter-chart>
    </div>
    <div ng-switch-when="long_value_collection">
      <nvd3-line-chart
      id="{{id}}"
      data="data"
      height="350"
      showXAxis="true"
      showYAxis="true"
      >
      <svg></svg>
      </nvd3-line-chart>
    </div>
  </div>
</div>