<div class="l-full-height l-full-width">
  <div class="panel panel-default l-top-buffer l-right-buffer">
    <div class="panel-heading">
      <h1 class="panel-title">{{context.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="col-lg-5">
        <div class="col-lg-6">
          <p><strong>Name: </strong></p>
          <p><strong>Number of Objects: </strong></p>
          <p><strong>Zoom Level: </strong></p>
          <p><strong>Objects Drawn: </strong></p>
          <p><strong>Notes: </strong></p>
        </div>
        <div class="col-lg-6">
          <p>{{dataset.name}}</p>
          <p>{{context.numberOfObjects}}</p>
          <p>{{context.zoomLevel}}</p>
          <p>{{context.pointsDrawn}}</p>
        </div>
        <div class="l-left-buffer">
          <textarea ng-model="currentNotes" cols="60" rows="10"></textarea>
          <p class="text-right"><button ng-click="saveNotesButtonHandler(context, currentNotes)" class="btn btn-primary l-top-buffer">Save Notes</button></p>
        </div>
      </div>
      <div class="col-lg-7 litle-map">
        <map center="mapOptions.center" zoom="context.zoomLevel" slice="context.sliceBounds">
          <layer
            type="layerOptions.type"
            config="layerOptions.config"
            data="data"
            bounds="context.boundingBox"
            points-drawn= "context.pointsDrawn">
        </map>
      </div>
    </div>
  </div>
  <div class="panel panel-default l-top-buffer l-right-buffer">
    <div class="panel-heading">Computed Indicators</div>
    <div class="panel-body">
      <div class="col-lg-6" ng-repeat="indicator in context.context_indicators" style="height: 500px">
        <h3>{{indicator.name}}</h3>
        <p>{{indicator.config | json}}</p>
        <indicator 
          result="indicator.result" 
          type="indicator.result.type" 
          name="indicator.name">
        </indicator>               
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
